#!/usr/bin/make -f
PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@

override_dh_install:
	mkdir -p debian/php-psr-container/usr/share/php/Psr/Container
	cp -r src/. debian/php-psr-container/usr/share/php/Psr/Container/
	install -m 644 debian/autoload.php debian/php-psr-container/usr/share/php/Psr/Container/autoload.php
	sed -i "s|'unknown'|'$(PKG_SOURCE)'|" debian/php-psr-container/usr/share/php/Psr/Container/autoload.php
	sed -i "s|'0.0.0'|'$(PKG_VERSION)'|" debian/php-psr-container/usr/share/php/Psr/Container/autoload.php
